<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Reset password link</title>
</head>
<body>
  <h2>Hello {{name}}! </h2>
  <p>Lost your password, No worries, we got covered you </p>

  <p>Please click on password reset link as given below</p>

  <a href="{{host}}/reset-forgot-password?token={{token}}&email={{email}}" target="_blank" rel="noopener noreferrer">Reset Password</a>

  <p>Thanks</p>
</body>
</html>